openapi: 3.2.0
info:
  title: Flickr Activity Profile API
  description: 'The Flickr API exposes the photo, group, people, place, tag, gallery, and

    photoset capabilities that power flickr.com. Almost all flickr.com

    functionality is reachable through a single REST-like endpoint

    `https://api.flickr.com/services/rest` using a `method=flickr.{namespace}.{method}`

    query parameter and `format=json&nojsoncallback=1` for JSON output.


    This OpenAPI specification models a curated set of the most widely used

    methods across the Flickr API''s 250+ method namespaces (activity, auth,

    blogs, cameras, collections, commons, contacts, favorites, galleries,

    groups, groupsDiscuss, interestingness, machinetags, panda, people, photos,

    photos.geo, photos.licenses, photos.notes, photos.transform, photos.upload,

    photosets, places, prefs, profile, push, reflection, stats, tags, test, urls).


    Authentication is API key + OAuth 1.0a (HMAC-SHA1). Commercial use of the

    API requires prior permission from Flickr.

    '
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: Profile
  description: User profile fields
paths:
  /rest/flickr.profile.getProfile:
    get:
      operationId: profileGetProfile
      summary: Get A User Profile
      description: Returns the public profile fields for a user.
      tags:
      - Profile
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
              examples:
                ProfileGetProfile200Example:
                  summary: Default profileGetProfile 200 response
                  x-microcks-default: true
                  value:
                    id: '52345678901'
                    first_name: Jane
                    last_name: Photographer
                    join_date: '2008-06-15'
                    occupation: Photographer
                    city: San Francisco
                    country: USA
                    hometown: Portland
                    website: https://janephotographer.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
    UserId:
      name: user_id
      in: query
      required: true
      schema:
        type: string
      example: 12345678@N00
  schemas:
    Profile:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        first_name:
          type: string
          example: Jane
        last_name:
          type: string
          example: Photographer
        join_date:
          type: string
          example: '2008-06-15'
        occupation:
          type: string
          example: Photographer
        city:
          type: string
          example: San Francisco
        country:
          type: string
          example: USA
        hometown:
          type: string
          example: Portland
        website:
          type: string
          format: uri
          example: https://janephotographer.example.com
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: 'Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model

        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:

        - Request token: https://www.flickr.com/services/oauth/request_token

        - Authorize:     https://www.flickr.com/services/oauth/authorize

        - Access token:  https://www.flickr.com/services/oauth/access_token

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
