openapi: 3.2.0
info:
  title: Flickr UR Ls API
  description: 'The Flickr API exposes the photo, group, people, place, tag, gallery, and

    photoset capabilities that power flickr.com.'
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: URLs
  description: Look up Flickr URLs by user, group, gallery
paths:
  /rest/flickr.urls.lookupUser:
    get:
      operationId: urlsLookupUser
      summary: Look Up User By URL
      description: Returns a user NSID given the URL to a user's photos or profile.
      tags:
      - URLs
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        example: https://www.flickr.com/photos/shutterbug/
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUrlLookup'
              examples:
                UrlsLookupUser200Example:
                  summary: Default urlsLookupUser 200 response
                  x-microcks-default: true
                  value:
                    user:
                      id: '52345678901'
                      username:
                        _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
  schemas:
    UserUrlLookup:
      type: object
      properties:
        user:
          type: object
          properties:
            id:
              type: string
              example: '52345678901'
            username:
              type: object
              properties:
                _content:
                  type: string
                  example: '100'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: 'Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model

        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:

        - Request token: https://www.flickr.com/services/oauth/request_token

        - Authorize:     https://www.flickr.com/services/oauth/authorize

        - Access token:  https://www.flickr.com/services/oauth/access_token

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
