openapi: 3.2.0
info:
  title: Flickr Activity API
  description: 'The Flickr API exposes the photo, group, people, place, tag, gallery, and

    photoset capabilities that power flickr.com. Almost all flickr.com

    functionality is reachable through a single REST-like endpoint

    `https://api.flickr.com/services/rest` using a `method=flickr.{namespace}.{method}`

    query parameter and `format=json&nojsoncallback=1` for JSON output.


    This OpenAPI specification models a curated set of the most widely used

    methods across the Flickr API''s 250+ method namespaces (activity, auth,

    blogs, cameras, collections, commons, contacts, favorites, galleries,

    groups, groupsDiscuss, interestingness, machinetags, panda, people, photos,

    photos.geo, photos.licenses, photos.notes, photos.transform, photos.upload,

    photosets, places, prefs, profile, push, reflection, stats, tags, test, urls).


    Authentication is API key + OAuth 1.0a (HMAC-SHA1). Commercial use of the

    API requires prior permission from Flickr.

    '
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: Activity
  description: Recent activity on the calling user's photos and contacts
paths:
  /rest/flickr.activity.userPhotos:
    get:
      operationId: activityUserPhotos
      summary: Get Activity On The User's Photos
      description: Returns recent activity on photos belonging to the calling user.
      tags:
      - Activity
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: timeframe
        in: query
        description: Time window such as "1h" or "12h".
        schema:
          type: string
        example: 12h
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Activity items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityList'
              examples:
                ActivityUserPhotos200Example:
                  summary: Default activityUserPhotos 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    item:
                    - type: photo
                      id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ActivityList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        item:
          type: array
          items:
            $ref: '#/components/schemas/ActivityItem'
    ActivityItem:
      type: object
      properties:
        type:
          type: string
          example: photo
        id:
          type: string
          example: '52345678901'
        owner:
          type: string
          example: 12345678@N00
        secret:
          type: string
          example: abc1234def
        server:
          type: string
          example: '65535'
        farm:
          type: integer
          example: 66
        title:
          type: string
          example: Golden Gate Sunset
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 100
        maximum: 500
      example: 100
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      example: 1
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: 'Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model

        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:

        - Request token: https://www.flickr.com/services/oauth/request_token

        - Authorize:     https://www.flickr.com/services/oauth/authorize

        - Access token:  https://www.flickr.com/services/oauth/access_token

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
