openapi: 3.0.3
info:
  title: Flickr API
  description: |
    The Flickr API exposes the photo, group, people, place, tag, gallery, and
    photoset capabilities that power flickr.com. Almost all flickr.com
    functionality is reachable through a single REST-like endpoint
    `https://api.flickr.com/services/rest` using a `method=flickr.{namespace}.{method}`
    query parameter and `format=json&nojsoncallback=1` for JSON output.

    This OpenAPI specification models a curated set of the most widely used
    methods across the Flickr API's 250+ method namespaces (activity, auth,
    blogs, cameras, collections, commons, contacts, favorites, galleries,
    groups, groupsDiscuss, interestingness, machinetags, panda, people, photos,
    photos.geo, photos.licenses, photos.notes, photos.transform, photos.upload,
    photosets, places, prefs, profile, push, reflection, stats, tags, test, urls).

    Authentication is API key + OAuth 1.0a (HMAC-SHA1). Commercial use of the
    API requires prior permission from Flickr.
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: Activity
  description: Recent activity on the calling user's photos and contacts
- name: Auth
  description: OAuth 1.0a token exchange
- name: Blogs
  description: Configured blogs and posting to them
- name: Cameras
  description: Camera brand and model metadata
- name: Collections
  description: Hierarchical collections of photosets
- name: Commons
  description: Flickr Commons institutions
- name: Contacts
  description: Calling user's contacts and recent contact activity
- name: Favorites
  description: Photos a user has marked as favorites
- name: Galleries
  description: Curated, themed galleries of photos
- name: Groups
  description: Group metadata, membership, and pool management
- name: Groups Discuss
  description: Group discussion topics and replies
- name: Interestingness
  description: The day's most interesting photos
- name: Machine Tags
  description: Namespace, predicate, and value lookups for machine tags
- name: Panda
  description: The Flickr Panda firehose of "interesting" photos
- name: People
  description: People (users), their info, public photos, and groups
- name: Photos
  description: Core photo metadata, search, comments, and lifecycle
- name: Photos Geo
  description: Geotagging photos with latitude/longitude
- name: Photos Licenses
  description: License catalog and per-photo license assignment
- name: Photos Notes
  description: Notes drawn on photos
- name: Photos Transform
  description: Rotate photos server-side
- name: Photos Upload
  description: Asynchronous upload status polling
- name: Photosets
  description: Photo albums (photosets)
- name: Places
  description: Place IDs, hierarchies, and resolution
- name: Prefs
  description: Calling user's posting preferences
- name: Profile
  description: User profile fields
- name: Push
  description: PubSubHubbub push subscriptions
- name: Reflection
  description: Programmatic discovery of available API methods
- name: Stats
  description: View counts and referrers for photos/photosets/collections
- name: Tags
  description: Tag clusters, hot lists, and tag-based lookups
- name: Test
  description: Echo, login, and null test methods
- name: URLs
  description: Look up Flickr URLs by user, group, gallery
paths:
  /rest:
    get:
      operationId: invokeFlickrMethod
      summary: Invoke Any Flickr Method
      description: |
        Dispatches a call to any flickr.* method. The `method` query parameter
        selects which method to invoke and the remaining query parameters are
        the arguments for that method. This single endpoint backs every
        per-method operation defined below.
      tags:
      - Reflection
      parameters:
      - $ref: '#/components/parameters/Method'
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/Format'
      - $ref: '#/components/parameters/NoJsonCallback'
      responses:
        '200':
          description: Method response (shape depends on method)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodResponse'
              examples:
                InvokeFlickrMethod200Example:
                  summary: Default invokeFlickrMethod 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          $ref: '#/components/responses/FlickrError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.activity.userPhotos:
    get:
      operationId: activityUserPhotos
      summary: Get Activity On The User's Photos
      description: Returns recent activity on photos belonging to the calling user.
      tags:
      - Activity
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: timeframe
        in: query
        description: Time window such as "1h" or "12h".
        schema:
          type: string
        example: 12h
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Activity items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityList'
              examples:
                ActivityUserPhotos200Example:
                  summary: Default activityUserPhotos 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    item:
                    - type: photo
                      id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.auth.oauth.checkToken:
    get:
      operationId: authOauthCheckToken
      summary: Check OAuth Token
      description: Returns the credentials attached to an OAuth authentication token.
      tags:
      - Auth
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: oauth_token
        in: query
        required: true
        description: The OAuth authentication token to check.
        schema:
          type: string
        example: 72157712345-abcdef0123456789
      responses:
        '200':
          description: OAuth credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthCredentials'
              examples:
                AuthOauthCheckToken200Example:
                  summary: Default authOauthCheckToken 200 response
                  x-microcks-default: true
                  value:
                    oauth:
                      token:
                        _content: '100'
                      perms:
                        _content: '100'
                      user:
                        nsid: 12345678@N00
                        username: shutterbug
                        fullname: Jane Photographer
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.blogs.getList:
    get:
      operationId: blogsGetList
      summary: Get Configured Blogs
      description: Returns a list of Flickr-supported blogging services the calling user has configured.
      tags:
      - Blogs
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: service
        in: query
        description: Optional service ID filter.
        schema:
          type: string
        example: blogger
      responses:
        '200':
          description: Configured blogs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogList'
              examples:
                BlogsGetList200Example:
                  summary: Default blogsGetList 200 response
                  x-microcks-default: true
                  value:
                    blog:
                    - id: '52345678901'
                      name: Bay Area Photographers
                      service: blogger
                      url: https://www.flickr.com/galleries/12345678@N00/72157712345/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.cameras.getBrands:
    get:
      operationId: camerasGetBrands
      summary: List Camera Brands
      description: Returns all camera brands supported in the Flickr camera taxonomy.
      tags:
      - Cameras
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Brand list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandList'
              examples:
                CamerasGetBrands200Example:
                  summary: Default camerasGetBrands 200 response
                  x-microcks-default: true
                  value:
                    brand:
                    - id: '52345678901'
                      name: Bay Area Photographers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.cameras.getBrandModels:
    get:
      operationId: camerasGetBrandModels
      summary: List Camera Models For A Brand
      description: Returns all camera models for the given brand.
      tags:
      - Cameras
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: brand
        in: query
        required: true
        description: The brand ID.
        schema:
          type: string
        example: nikon
      responses:
        '200':
          description: Model list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CameraList'
              examples:
                CamerasGetBrandModels200Example:
                  summary: Default camerasGetBrandModels 200 response
                  x-microcks-default: true
                  value:
                    camera:
                    - id: '52345678901'
                      name: Bay Area Photographers
                      details: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.collections.getTree:
    get:
      operationId: collectionsGetTree
      summary: Get The Collection Tree
      description: Returns a tree (or sub-tree) of collections belonging to a user.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: collection_id
        in: query
        schema:
          type: string
        example: 12345678-72157712345
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Collection tree
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionTree'
              examples:
                CollectionsGetTree200Example:
                  summary: Default collectionsGetTree 200 response
                  x-microcks-default: true
                  value:
                    collection:
                    - id: '52345678901'
                      title: Golden Gate Sunset
                      description: Detailed photo metadata.
                      iconlarge: https://www.flickr.com/services/api/
                      set:
                      - id: '52345678901'
                        title: Golden Gate Sunset
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.commons.getInstitutions:
    get:
      operationId: commonsGetInstitutions
      summary: List Flickr Commons Institutions
      description: Returns the list of institutions participating in The Commons.
      tags:
      - Commons
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Institutions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionList'
              examples:
                CommonsGetInstitutions200Example:
                  summary: Default commonsGetInstitutions 200 response
                  x-microcks-default: true
                  value:
                    institution:
                    - nsid: 12345678@N00
                      name: Bay Area Photographers
                      date_launch: '1232409600'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.contacts.getList:
    get:
      operationId: contactsGetList
      summary: Get Contacts For The Calling User
      description: Returns the contact list for the authenticated user.
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: filter
        in: query
        description: 'One of: friends, family, both, neither.'
        schema:
          type: string
          enum: [friends, family, both, neither]
        example: friends
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Contact list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
              examples:
                ContactsGetList200Example:
                  summary: Default contactsGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    contact:
                    - nsid: 12345678@N00
                      username: shutterbug
                      iconserver: '7402'
                      realname: Jane Photographer
                      friend: 1
                      family: 0
                      ignored: 0
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.favorites.getList:
    get:
      operationId: favoritesGetList
      summary: Get A User's Favorites
      description: Returns a list of the user's favorite photos. Only photos which the calling user has permission to see are returned.
      tags:
      - Favorites
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Favorites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                FavoritesGetList200Example:
                  summary: Default favoritesGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.favorites.add:
    post:
      operationId: favoritesAdd
      summary: Mark Photo As Favorite
      description: Adds a photo to the calling user's favorites list.
      tags:
      - Favorites
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                FavoritesAdd200Example:
                  summary: Default favoritesAdd 200 response
                  x-microcks-default: true
                  value:
                    stat: ok
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.galleries.getList:
    get:
      operationId: galleriesGetList
      summary: List A User's Galleries
      description: Returns a list of galleries created by a user.
      tags:
      - Galleries
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Galleries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GalleryList'
              examples:
                GalleriesGetList200Example:
                  summary: Default galleriesGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    gallery:
                    - id: '52345678901'
                      url: https://www.flickr.com/galleries/12345678@N00/72157712345/
                      owner: 12345678@N00
                      date_create: '1715000000'
                      count_photos: 18
                      count_videos: 0
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.galleries.getPhotos:
    get:
      operationId: galleriesGetPhotos
      summary: List Photos In A Gallery
      description: Returns the photos for a given gallery.
      tags:
      - Galleries
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: gallery_id
        in: query
        required: true
        schema:
          type: string
        example: 12345678-72157712345
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Extras'
      responses:
        '200':
          description: Gallery photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                GalleriesGetPhotos200Example:
                  summary: Default galleriesGetPhotos 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.groups.getInfo:
    get:
      operationId: groupsGetInfo
      summary: Get Group Info
      description: Returns information about a group.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: group_id
        in: query
        required: true
        schema:
          type: string
        example: 12345678@N00
      responses:
        '200':
          description: Group info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                GroupsGetInfo200Example:
                  summary: Default groupsGetInfo 200 response
                  x-microcks-default: true
                  value:
                    id: '52345678901'
                    nsid: 12345678@N00
                    name: Bay Area Photographers
                    members: 18324
                    pool_count: 942113
                    topic_count: 8421
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.groups.search:
    get:
      operationId: groupsSearch
      summary: Search Groups By Text
      description: Searches groups by text.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: text
        in: query
        required: true
        schema:
          type: string
        example: golden gate
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Matching groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupList'
              examples:
                GroupsSearch200Example:
                  summary: Default groupsSearch 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    group:
                    - id: '52345678901'
                      nsid: 12345678@N00
                      name: Bay Area Photographers
                      members: 18324
                      pool_count: 942113
                      topic_count: 8421
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.groups.pools.getPhotos:
    get:
      operationId: groupsPoolsGetPhotos
      summary: List Photos In A Group Pool
      description: Returns photos in a group's pool.
      tags:
      - Groups
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: group_id
        in: query
        required: true
        schema:
          type: string
        example: 12345678@N00
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Extras'
      responses:
        '200':
          description: Pool photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                GroupsPoolsGetPhotos200Example:
                  summary: Default groupsPoolsGetPhotos 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.groups.discuss.topics.getList:
    get:
      operationId: groupsDiscussTopicsGetList
      summary: List Group Discussion Topics
      description: Returns discussion topics for a group.
      tags:
      - Groups Discuss
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: group_id
        in: query
        required: true
        schema:
          type: string
        example: 12345678@N00
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Topics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicList'
              examples:
                GroupsDiscussTopicsGetList200Example:
                  summary: Default groupsDiscussTopicsGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    topic:
                    - id: '52345678901'
                      subject: Tips for sunset photography
                      author: 12345678@N00
                      author_name: shutterbug
                      datecreate: '1715000000'
                      count_replies: 7
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.groups.discuss.replies.getList:
    get:
      operationId: groupsDiscussRepliesGetList
      summary: List Replies For A Discussion Topic
      description: Returns the replies for a discussion topic.
      tags:
      - Groups Discuss
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: topic_id
        in: query
        required: true
        schema:
          type: string
        example: '72157712345'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Replies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicReplyList'
              examples:
                GroupsDiscussRepliesGetList200Example:
                  summary: Default groupsDiscussRepliesGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    reply:
                    - id: '52345678901'
                      author: 12345678@N00
                      message:
                        _content: '100'
                      datecreate: '1715000000'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.interestingness.getList:
    get:
      operationId: interestingnessGetList
      summary: List Interesting Photos
      description: Returns the most interesting photos for the given date.
      tags:
      - Interestingness
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: date
        in: query
        description: YYYY-MM-DD date.
        schema:
          type: string
          format: date
        example: '2026-04-30'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Extras'
      responses:
        '200':
          description: Interesting photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                InterestingnessGetList200Example:
                  summary: Default interestingnessGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.machinetags.getNamespaces:
    get:
      operationId: machinetagsGetNamespaces
      summary: List Machine Tag Namespaces
      description: Returns a list of machine tag namespaces.
      tags:
      - Machine Tags
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Namespaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MachineTagNamespaceList'
              examples:
                MachinetagsGetNamespaces200Example:
                  summary: Default machinetagsGetNamespaces 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    namespace:
                    - usage: 18421
                      predicates: 14
                      _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.panda.getList:
    get:
      operationId: pandaGetList
      summary: List Flickr Panda Feeds
      description: Returns a list of available Flickr Panda firehose feeds.
      tags:
      - Panda
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Panda feeds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PandaList'
              examples:
                PandaGetList200Example:
                  summary: Default pandaGetList 200 response
                  x-microcks-default: true
                  value:
                    panda:
                    - _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.panda.getPhotos:
    get:
      operationId: pandaGetPhotos
      summary: Get Panda Firehose Photos
      description: Returns photos for the given Panda feed.
      tags:
      - Panda
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: panda_name
        in: query
        required: true
        schema:
          type: string
        example: example
      - $ref: '#/components/parameters/Extras'
      responses:
        '200':
          description: Panda photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                PandaGetPhotos200Example:
                  summary: Default pandaGetPhotos 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.people.getInfo:
    get:
      operationId: peopleGetInfo
      summary: Get Person Info
      description: Returns information about a person.
      tags:
      - People
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Person info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                PeopleGetInfo200Example:
                  summary: Default peopleGetInfo 200 response
                  x-microcks-default: true
                  value:
                    id: '52345678901'
                    nsid: 12345678@N00
                    username: shutterbug
                    realname: Jane Photographer
                    location: San Francisco, CA
                    photosurl: https://www.flickr.com/photos/12345678@N00/
                    profileurl: https://www.flickr.com/people/12345678@N00/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.people.getPhotos:
    get:
      operationId: peopleGetPhotos
      summary: Get A User's Photos
      description: Returns photos from the given user's photostream.
      tags:
      - People
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/Extras'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                PeopleGetPhotos200Example:
                  summary: Default peopleGetPhotos 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.people.findByEmail:
    get:
      operationId: peopleFindByEmail
      summary: Find User By Email
      description: Look up a Flickr user by email.
      tags:
      - People
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: find_email
        in: query
        required: true
        schema:
          type: string
          format: email
        example: jane@example.com
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                PeopleFindByEmail200Example:
                  summary: Default peopleFindByEmail 200 response
                  x-microcks-default: true
                  value:
                    id: '52345678901'
                    nsid: 12345678@N00
                    username: shutterbug
                    realname: Jane Photographer
                    location: San Francisco, CA
                    photosurl: https://www.flickr.com/photos/12345678@N00/
                    profileurl: https://www.flickr.com/people/12345678@N00/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.search:
    get:
      operationId: photosSearch
      summary: Search Photos
      description: |
        Returns a list of photos matching a search query. Combine text, tags,
        owner, geography, license, date, and content filters.
      tags:
      - Photos
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: text
        in: query
        schema:
          type: string
        example: golden gate
      - name: tags
        in: query
        schema:
          type: string
        example: sunset,bridge
      - name: tag_mode
        in: query
        schema:
          type: string
          enum: [any, all]
        example: any
      - name: license
        in: query
        schema:
          type: string
        example: 1,2,3
      - name: media
        in: query
        schema:
          type: string
          enum: [all, photos, videos]
        example: photos
      - $ref: '#/components/parameters/UserIdOptional'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Extras'
      responses:
        '200':
          description: Matching photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                PhotosSearch200Example:
                  summary: Default photosSearch 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.getInfo:
    get:
      operationId: photosGetInfo
      summary: Get Photo Info
      description: Returns detailed information about a photo.
      tags:
      - Photos
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      - name: secret
        in: query
        schema:
          type: string
        example: abc1234def
      responses:
        '200':
          description: Photo info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Photo'
              examples:
                PhotosGetInfo200Example:
                  summary: Default photosGetInfo 200 response
                  x-microcks-default: true
                  value:
                    id: '52345678901'
                    owner: 12345678@N00
                    secret: abc1234def
                    server: '65535'
                    farm: 66
                    title: Golden Gate Sunset
                    ispublic: 1
                    isfriend: 0
                    isfamily: 0
                    datetaken: '2026-04-12 18:24:11'
                    url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                    height_o: 4032
                    width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.getSizes:
    get:
      operationId: photosGetSizes
      summary: Get Available Photo Sizes
      description: Returns the available sizes for a photo.
      tags:
      - Photos
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      responses:
        '200':
          description: Sizes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SizeList'
              examples:
                PhotosGetSizes200Example:
                  summary: Default photosGetSizes 200 response
                  x-microcks-default: true
                  value:
                    canblog: 0
                    canprint: 1
                    candownload: 1
                    size:
                    - label: Original
                      width: 6048
                      height: 4032
                      source: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      url: https://www.flickr.com/galleries/12345678@N00/72157712345/
                      media: photo
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.getExif:
    get:
      operationId: photosGetExif
      summary: Get Photo EXIF Data
      description: Returns EXIF / TIFF / GPS tags for a photo.
      tags:
      - Photos
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      - name: secret
        in: query
        schema:
          type: string
        example: abc1234def
      responses:
        '200':
          description: EXIF data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExifList'
              examples:
                PhotosGetExif200Example:
                  summary: Default photosGetExif 200 response
                  x-microcks-default: true
                  value:
                    photo:
                      id: '52345678901'
                      secret: abc1234def
                      camera: example
                      exif:
                      - tagspace: EXIF
                        tagspaceid: 0
                        tag: ISO
                        label: Original
                        raw:
                          _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.getRecent:
    get:
      operationId: photosGetRecent
      summary: Get Recent Public Photos
      description: Returns the most recent public photos.
      tags:
      - Photos
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/Extras'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Recent photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                PhotosGetRecent200Example:
                  summary: Default photosGetRecent 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.geo.setLocation:
    post:
      operationId: photosGeoSetLocation
      summary: Set Photo Geo Location
      description: Sets the geo data (latitude, longitude, accuracy) for a photo.
      tags:
      - Photos Geo
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      - name: lat
        in: query
        required: true
        schema:
          type: number
          format: double
        example: 37.7749
      - name: lon
        in: query
        required: true
        schema:
          type: number
          format: double
        example: -122.4194
      - name: accuracy
        in: query
        schema:
          type: integer
        example: 16
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                PhotosGeoSetLocation200Example:
                  summary: Default photosGeoSetLocation 200 response
                  x-microcks-default: true
                  value:
                    stat: ok
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.licenses.getInfo:
    get:
      operationId: photosLicensesGetInfo
      summary: List Photo Licenses
      description: Returns the list of available photo licenses.
      tags:
      - Photos Licenses
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: License catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseList'
              examples:
                PhotosLicensesGetInfo200Example:
                  summary: Default photosLicensesGetInfo 200 response
                  x-microcks-default: true
                  value:
                    license:
                    - id: '52345678901'
                      name: Bay Area Photographers
                      url: https://www.flickr.com/galleries/12345678@N00/72157712345/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.licenses.setLicense:
    post:
      operationId: photosLicensesSetLicense
      summary: Set Photo License
      description: Sets the license for a photo.
      tags:
      - Photos Licenses
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      - name: license_id
        in: query
        required: true
        schema:
          type: integer
        example: 4
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                PhotosLicensesSetLicense200Example:
                  summary: Default photosLicensesSetLicense 200 response
                  x-microcks-default: true
                  value:
                    stat: ok
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.notes.add:
    post:
      operationId: photosNotesAdd
      summary: Add Photo Note
      description: Adds a note (annotation) to a photo.
      tags:
      - Photos Notes
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      - name: note_x
        in: query
        required: true
        schema:
          type: integer
        example: 320
      - name: note_y
        in: query
        required: true
        schema:
          type: integer
        example: 240
      - name: note_w
        in: query
        required: true
        schema:
          type: integer
        example: 100
      - name: note_h
        in: query
        required: true
        schema:
          type: integer
        example: 100
      - name: note_text
        in: query
        required: true
        schema:
          type: string
        example: Look at this sunset.
      responses:
        '200':
          description: Note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
              examples:
                PhotosNotesAdd200Example:
                  summary: Default photosNotesAdd 200 response
                  x-microcks-default: true
                  value:
                    id: '52345678901'
                    author: 12345678@N00
                    x: 320
                    y: 240
                    w: 100
                    h: 100
                    _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.transform.rotate:
    post:
      operationId: photosTransformRotate
      summary: Rotate Photo
      description: Rotates a photo 90, 180, or 270 degrees.
      tags:
      - Photos Transform
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      - name: degrees
        in: query
        required: true
        schema:
          type: integer
          enum: [90, 180, 270]
        example: 90
      responses:
        '200':
          description: Rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                PhotosTransformRotate200Example:
                  summary: Default photosTransformRotate 200 response
                  x-microcks-default: true
                  value:
                    stat: ok
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.upload.checkTickets:
    get:
      operationId: photosUploadCheckTickets
      summary: Check Async Upload Tickets
      description: Returns the status of one or more asynchronous photo upload tickets.
      tags:
      - Photos Upload
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: tickets
        in: query
        required: true
        description: Comma-delimited list of ticket IDs.
        schema:
          type: string
        example: 1234567,1234568
      responses:
        '200':
          description: Ticket statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketList'
              examples:
                PhotosUploadCheckTickets200Example:
                  summary: Default photosUploadCheckTickets 200 response
                  x-microcks-default: true
                  value:
                    ticket:
                    - id: '52345678901'
                      complete: 1
                      photoid: '52345678901'
                      invalid: 0
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /upload:
    post:
      operationId: photosUpload
      summary: Upload A Photo Or Video
      description: |
        Uploads a photo or video. Uses `https://up.flickr.com/services/upload`
        with a multipart/form-data POST. Returns the new photo ID (synchronous)
        or ticket ID (asynchronous).
      tags:
      - Photos Upload
      servers:
      - url: https://up.flickr.com/services
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photo]
              properties:
                photo:
                  type: string
                  format: binary
                title:
                  type: string
                description:
                  type: string
                tags:
                  type: string
                is_public:
                  type: integer
                is_friend:
                  type: integer
                is_family:
                  type: integer
                safety_level:
                  type: integer
                content_type:
                  type: integer
                hidden:
                  type: integer
                async:
                  type: integer
            examples:
              PhotosUploadRequestExample:
                summary: Default photosUpload request body
                x-microcks-default: true
                value:
                  photo: <binary>
                  title: Golden Gate Sunset
                  description: Detailed photo metadata.
                  tags: example
                  is_public: 1
                  is_friend: 1
                  is_family: 1
                  safety_level: 1
                  content_type: 1
                  hidden: 1
                  async: 1
      responses:
        '200':
          description: Upload response
          content:
            text/xml:
              schema:
                $ref: '#/components/schemas/UploadResponse'
              examples:
                PhotosUpload200Example:
                  summary: Default photosUpload 200 response
                  x-microcks-default: true
                  value:
                    stat: ok
                    photoid: '52345678901'
                    ticketid: '1234567'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photosets.getList:
    get:
      operationId: photosetsGetList
      summary: List A User's Photosets
      description: Returns photosets belonging to a user.
      tags:
      - Photosets
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/UserIdOptional'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Photosets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotosetList'
              examples:
                PhotosetsGetList200Example:
                  summary: Default photosetsGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photoset:
                    - id: '52345678901'
                      primary: '52345678901'
                      owner: 12345678@N00
                      title:
                        _content: '100'
                      description:
                        _content: '100'
                      photos: 248
                      videos: 3
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photosets.getPhotos:
    get:
      operationId: photosetsGetPhotos
      summary: List Photos In A Photoset
      description: Returns the photos in a given photoset.
      tags:
      - Photosets
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: photoset_id
        in: query
        required: true
        schema:
          type: string
        example: '72157712345'
      - $ref: '#/components/parameters/UserIdOptional'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Extras'
      responses:
        '200':
          description: Photoset photos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhotoList'
              examples:
                PhotosetsGetPhotos200Example:
                  summary: Default photosetsGetPhotos 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    perpage: 100
                    total: 1183
                    photo:
                    - id: '52345678901'
                      owner: 12345678@N00
                      secret: abc1234def
                      server: '65535'
                      farm: 66
                      title: Golden Gate Sunset
                      ispublic: 1
                      isfriend: 0
                      isfamily: 0
                      datetaken: '2026-04-12 18:24:11'
                      url_o: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                      height_o: 4032
                      width_o: 6048
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photosets.create:
    post:
      operationId: photosetsCreate
      summary: Create A New Photoset
      description: Creates a new photoset for the calling user.
      tags:
      - Photosets
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: title
        in: query
        required: true
        schema:
          type: string
        example: Sunsets
      - name: description
        in: query
        schema:
          type: string
        example: Best sunsets I have shot.
      - name: primary_photo_id
        in: query
        required: true
        schema:
          type: string
        example: '52345678901'
      responses:
        '200':
          description: Photoset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Photoset'
              examples:
                PhotosetsCreate200Example:
                  summary: Default photosetsCreate 200 response
                  x-microcks-default: true
                  value:
                    id: '52345678901'
                    primary: '52345678901'
                    owner: 12345678@N00
                    title:
                      _content: '100'
                    description:
                      _content: '100'
                    photos: 248
                    videos: 3
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.places.find:
    get:
      operationId: placesFind
      summary: Find Place By Query
      description: Searches places by text query.
      tags:
      - Places
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: query
        in: query
        required: true
        schema:
          type: string
        example: San Francisco
      responses:
        '200':
          description: Places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceList'
              examples:
                PlacesFind200Example:
                  summary: Default placesFind 200 response
                  x-microcks-default: true
                  value:
                    place:
                    - place_id: kH8dLOBTUrHLjKxQqw
                      woeid: '2487956'
                      latitude: 37.7749
                      longitude: -122.4194
                      place_url: /United+States/California/San+Francisco
                      place_type: locality
                      _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.places.findByLatLon:
    get:
      operationId: placesFindByLatLon
      summary: Find Place By Lat/Lon
      description: Resolves a latitude/longitude pair to the smallest enclosing Place.
      tags:
      - Places
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: lat
        in: query
        required: true
        schema:
          type: number
        example: 37.7749
      - name: lon
        in: query
        required: true
        schema:
          type: number
        example: -122.4194
      - name: accuracy
        in: query
        schema:
          type: integer
        example: 16
      responses:
        '200':
          description: Place
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceList'
              examples:
                PlacesFindByLatLon200Example:
                  summary: Default placesFindByLatLon 200 response
                  x-microcks-default: true
                  value:
                    place:
                    - place_id: kH8dLOBTUrHLjKxQqw
                      woeid: '2487956'
                      latitude: 37.7749
                      longitude: -122.4194
                      place_url: /United+States/California/San+Francisco
                      place_type: locality
                      _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.prefs.getPrivacy:
    get:
      operationId: prefsGetPrivacy
      summary: Get Default Privacy Preference
      description: Returns the default privacy level preference for the calling user.
      tags:
      - Prefs
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Preference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyPreference'
              examples:
                PrefsGetPrivacy200Example:
                  summary: Default prefsGetPrivacy 200 response
                  x-microcks-default: true
                  value:
                    person:
                      nsid: 12345678@N00
                      privacy: 1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.profile.getProfile:
    get:
      operationId: profileGetProfile
      summary: Get A User Profile
      description: Returns the public profile fields for a user.
      tags:
      - Profile
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
              examples:
                ProfileGetProfile200Example:
                  summary: Default profileGetProfile 200 response
                  x-microcks-default: true
                  value:
                    id: '52345678901'
                    first_name: Jane
                    last_name: Photographer
                    join_date: '2008-06-15'
                    occupation: Photographer
                    city: San Francisco
                    country: USA
                    hometown: Portland
                    website: https://janephotographer.example.com
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.push.getTopics:
    get:
      operationId: pushGetTopics
      summary: List Push Subscription Topics
      description: Returns the list of available PubSubHubbub push subscription topics.
      tags:
      - Push
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Topics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushTopicList'
              examples:
                PushGetTopics200Example:
                  summary: Default pushGetTopics 200 response
                  x-microcks-default: true
                  value:
                    topic:
                    - name: Bay Area Photographers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.reflection.getMethods:
    get:
      operationId: reflectionGetMethods
      summary: List Available API Methods
      description: Returns a list of available Flickr API methods.
      tags:
      - Reflection
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodList'
              examples:
                ReflectionGetMethods200Example:
                  summary: Default reflectionGetMethods 200 response
                  x-microcks-default: true
                  value:
                    methods:
                      method:
                      - _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.reflection.getMethodInfo:
    get:
      operationId: reflectionGetMethodInfo
      summary: Get API Method Info
      description: Returns information about a particular API method including its arguments and errors.
      tags:
      - Reflection
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: method_name
        in: query
        required: true
        schema:
          type: string
        example: flickr.photos.search
      responses:
        '200':
          description: Method info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodInfo'
              examples:
                ReflectionGetMethodInfo200Example:
                  summary: Default reflectionGetMethodInfo 200 response
                  x-microcks-default: true
                  value:
                    method:
                      name: Bay Area Photographers
                      needslogin: 0
                      needssigning: 1
                      requiredperms: 0
                      description:
                        _content: '100'
                    arguments:
                      argument:
                      - name: Bay Area Photographers
                        optional: 0
                        _content: '100'
                    errors:
                      error:
                      - code: 100
                        message: Invalid API Key
                        _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.stats.getPhotoStats:
    get:
      operationId: statsGetPhotoStats
      summary: Get Photo View Stats
      description: Returns view counts for a photo on a given date.
      tags:
      - Stats
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: date
        in: query
        required: true
        schema:
          type: string
          format: date
        example: '2026-04-30'
      - $ref: '#/components/parameters/PhotoId'
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatList'
              examples:
                StatsGetPhotoStats200Example:
                  summary: Default statsGetPhotoStats 200 response
                  x-microcks-default: true
                  value:
                    stats:
                      views: 1842
                      comments: 12
                      favorites: 47
                    stat:
                    - date: '2026-04-30'
                      views: 1842
                      comments: 12
                      favorites: 47
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.tags.getHotList:
    get:
      operationId: tagsGetHotList
      summary: List Currently Hot Tags
      description: Returns the popular tags for a given period.
      tags:
      - Tags
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: period
        in: query
        schema:
          type: string
          enum: [day, week]
        example: week
      - name: count
        in: query
        schema:
          type: integer
        example: 200
      responses:
        '200':
          description: Hot tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
              examples:
                TagsGetHotList200Example:
                  summary: Default tagsGetHotList 200 response
                  x-microcks-default: true
                  value:
                    period: week
                    count: 200
                    tag:
                    - _content: '100'
                      score: 87
                      thm_data: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.tags.getClusters:
    get:
      operationId: tagsGetClusters
      summary: Get Tag Clusters
      description: Returns the related "clusters" for a given tag.
      tags:
      - Tags
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: tag
        in: query
        required: true
        schema:
          type: string
        example: sunset
      responses:
        '200':
          description: Clusters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagClusterList'
              examples:
                TagsGetClusters200Example:
                  summary: Default tagsGetClusters 200 response
                  x-microcks-default: true
                  value:
                    source: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                    total: 1183
                    cluster:
                    - total: 1183
                      tag:
                      - _content: '100'
                        score: 87
                        thm_data: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.test.echo:
    get:
      operationId: testEcho
      summary: Echo Test Parameters
      description: Echoes the parameters back to the caller as a test of connectivity and authentication.
      tags:
      - Test
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Echo response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EchoResponse'
              examples:
                TestEcho200Example:
                  summary: Default testEcho 200 response
                  x-microcks-default: true
                  value: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.test.login:
    get:
      operationId: testLogin
      summary: Test Authentication
      description: Returns information about the calling authenticated user.
      tags:
      - Test
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Logged-in user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginInfo'
              examples:
                TestLogin200Example:
                  summary: Default testLogin 200 response
                  x-microcks-default: true
                  value:
                    user:
                      id: '52345678901'
                      username:
                        _content: '100'
                      path_alias: shutterbug
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.urls.lookupUser:
    get:
      operationId: urlsLookupUser
      summary: Look Up User By URL
      description: Returns a user NSID given the URL to a user's photos or profile.
      tags:
      - URLs
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: url
        in: query
        required: true
        schema:
          type: string
          format: uri
        example: https://www.flickr.com/photos/shutterbug/
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserUrlLookup'
              examples:
                UrlsLookupUser200Example:
                  summary: Default urlsLookupUser 200 response
                  x-microcks-default: true
                  value:
                    user:
                      id: '52345678901'
                      username:
                        _content: '100'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: |
        Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model
        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:
        - Request token: https://www.flickr.com/services/oauth/request_token
        - Authorize:     https://www.flickr.com/services/oauth/authorize
        - Access token:  https://www.flickr.com/services/oauth/access_token
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
  parameters:
    Method:
      name: method
      in: query
      required: true
      description: Fully qualified flickr method, e.g. `flickr.photos.search`.
      schema:
        type: string
      example: flickr.photos.search
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
    Format:
      name: format
      in: query
      description: Response format (json/xml/php_serial/rest).
      schema:
        type: string
        default: json
      example: json
    NoJsonCallback:
      name: nojsoncallback
      in: query
      description: Set to 1 to receive raw JSON instead of JSONP.
      schema:
        type: integer
        default: 1
      example: 1
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      example: 1
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 100
        maximum: 500
      example: 100
    UserId:
      name: user_id
      in: query
      required: true
      schema:
        type: string
      example: 12345678@N00
    UserIdOptional:
      name: user_id
      in: query
      schema:
        type: string
      example: 12345678@N00
    PhotoId:
      name: photo_id
      in: query
      required: true
      schema:
        type: string
      example: '52345678901'
    Extras:
      name: extras
      in: query
      description: Comma-delimited list of extra fields (e.g. owner_name, url_o, geo).
      schema:
        type: string
      example: owner_name,description,url_o,date_taken,geo
  responses:
    FlickrError:
      description: Flickr error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FlickrError'
  schemas:
    FlickrError:
      type: object
      properties:
        stat:
          type: string
          example: fail
        code:
          type: integer
          example: 100
        message:
          type: string
          example: Invalid API Key
    SuccessResponse:
      type: object
      properties:
        stat:
          type: string
          example: ok
    MethodResponse:
      type: object
      description: Generic method response (varies by method).
      additionalProperties: true
    Photo:
      type: object
      description: A photo.
      properties:
        id:
          type: string
          example: '52345678901'
        owner:
          type: string
          example: 12345678@N00
        secret:
          type: string
          example: abc1234def
        server:
          type: string
          example: '65535'
        farm:
          type: integer
          example: 66
        title:
          type: string
          example: Golden Gate Sunset
        ispublic:
          type: integer
          example: 1
        isfriend:
          type: integer
          example: 0
        isfamily:
          type: integer
          example: 0
        datetaken:
          type: string
          example: '2026-04-12 18:24:11'
        url_o:
          type: string
          format: uri
          example: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
        height_o:
          type: integer
          example: 4032
        width_o:
          type: integer
          example: 6048
    PhotoList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        perpage:
          type: integer
          example: 100
        total:
          type: integer
          example: 1183
        photo:
          type: array
          items:
            $ref: '#/components/schemas/Photo'
    Person:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        nsid:
          type: string
          example: 12345678@N00
        username:
          type: string
          example: shutterbug
        realname:
          type: string
          example: Jane Photographer
        location:
          type: string
          example: San Francisco, CA
        photosurl:
          type: string
          format: uri
          example: https://www.flickr.com/photos/12345678@N00/
        profileurl:
          type: string
          format: uri
          example: https://www.flickr.com/people/12345678@N00/
    Profile:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        first_name:
          type: string
          example: Jane
        last_name:
          type: string
          example: Photographer
        join_date:
          type: string
          example: '2008-06-15'
        occupation:
          type: string
          example: Photographer
        city:
          type: string
          example: San Francisco
        country:
          type: string
          example: USA
        hometown:
          type: string
          example: Portland
        website:
          type: string
          format: uri
          example: https://janephotographer.example.com
    Photoset:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        primary:
          type: string
          example: '52345678901'
        owner:
          type: string
          example: 12345678@N00
        title:
          type: object
          properties:
            _content:
              type: string
              example: '100'
        description:
          type: object
          properties:
            _content:
              type: string
              example: '100'
        photos:
          type: integer
          example: 248
        videos:
          type: integer
          example: 3
    PhotosetList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        perpage:
          type: integer
          example: 100
        total:
          type: integer
          example: 1183
        photoset:
          type: array
          items:
            $ref: '#/components/schemas/Photoset'
    Group:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        nsid:
          type: string
          example: 12345678@N00
        name:
          type: string
          example: Bay Area Photographers
        members:
          type: integer
          example: 18324
        pool_count:
          type: integer
          example: 942113
        topic_count:
          type: integer
          example: 8421
    GroupList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        group:
          type: array
          items:
            $ref: '#/components/schemas/Group'
    Gallery:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        url:
          type: string
          format: uri
          example: https://www.flickr.com/galleries/12345678@N00/72157712345/
        owner:
          type: string
          example: 12345678@N00
        date_create:
          type: string
          example: '1715000000'
        count_photos:
          type: integer
          example: 18
        count_videos:
          type: integer
          example: 0
    GalleryList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        gallery:
          type: array
          items:
            $ref: '#/components/schemas/Gallery'
    Topic:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        subject:
          type: string
          example: Tips for sunset photography
        author:
          type: string
          example: 12345678@N00
        author_name:
          type: string
          example: shutterbug
        datecreate:
          type: string
          example: '1715000000'
        count_replies:
          type: integer
          example: 7
    TopicList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        topic:
          type: array
          items:
            $ref: '#/components/schemas/Topic'
    TopicReply:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        author:
          type: string
          example: 12345678@N00
        message:
          type: object
          properties:
            _content:
              type: string
              example: '100'
        datecreate:
          type: string
          example: '1715000000'
    TopicReplyList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        reply:
          type: array
          items:
            $ref: '#/components/schemas/TopicReply'
    Contact:
      type: object
      properties:
        nsid:
          type: string
          example: 12345678@N00
        username:
          type: string
          example: shutterbug
        iconserver:
          type: string
          example: '7402'
        realname:
          type: string
          example: Jane Photographer
        friend:
          type: integer
          example: 1
        family:
          type: integer
          example: 0
        ignored:
          type: integer
          example: 0
    ContactList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        contact:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    ActivityItem:
      type: object
      properties:
        type:
          type: string
          example: photo
        id:
          type: string
          example: '52345678901'
        owner:
          type: string
          example: 12345678@N00
        secret:
          type: string
          example: abc1234def
        server:
          type: string
          example: '65535'
        farm:
          type: integer
          example: 66
        title:
          type: string
          example: Golden Gate Sunset
    ActivityList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        item:
          type: array
          items:
            $ref: '#/components/schemas/ActivityItem'
    Blog:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        name:
          type: string
          example: Bay Area Photographers
        service:
          type: string
          example: blogger
        url:
          type: string
          format: uri
          example: https://www.flickr.com/galleries/12345678@N00/72157712345/
    BlogList:
      type: object
      properties:
        blog:
          type: array
          items:
            $ref: '#/components/schemas/Blog'
    Brand:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        name:
          type: string
          example: Bay Area Photographers
    BrandList:
      type: object
      properties:
        brand:
          type: array
          items:
            $ref: '#/components/schemas/Brand'
    Camera:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        name:
          type: string
          example: Bay Area Photographers
        details:
          type: object
          additionalProperties: true
          example: {}
    CameraList:
      type: object
      properties:
        camera:
          type: array
          items:
            $ref: '#/components/schemas/Camera'
    Collection:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        title:
          type: string
          example: Golden Gate Sunset
        description:
          type: string
          example: Detailed photo metadata.
        iconlarge:
          type: string
          format: uri
          example: https://www.flickr.com/services/api/
        set:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: '52345678901'
              title:
                type: string
                example: Golden Gate Sunset
    CollectionTree:
      type: object
      properties:
        collection:
          type: array
          items:
            $ref: '#/components/schemas/Collection'
    Institution:
      type: object
      properties:
        nsid:
          type: string
          example: 12345678@N00
        name:
          type: string
          example: Bay Area Photographers
        date_launch:
          type: string
          example: '1232409600'
    InstitutionList:
      type: object
      properties:
        institution:
          type: array
          items:
            $ref: '#/components/schemas/Institution'
    MachineTagNamespace:
      type: object
      properties:
        usage:
          type: integer
          example: 18421
        predicates:
          type: integer
          example: 14
        _content:
          type: string
          example: '100'
    MachineTagNamespaceList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        namespace:
          type: array
          items:
            $ref: '#/components/schemas/MachineTagNamespace'
    Panda:
      type: object
      properties:
        _content:
          type: string
          example: '100'
    PandaList:
      type: object
      properties:
        panda:
          type: array
          items:
            $ref: '#/components/schemas/Panda'
    Size:
      type: object
      properties:
        label:
          type: string
          example: Original
        width:
          type: integer
          example: 6048
        height:
          type: integer
          example: 4032
        source:
          type: string
          format: uri
          example: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
        url:
          type: string
          format: uri
          example: https://www.flickr.com/galleries/12345678@N00/72157712345/
        media:
          type: string
          example: photo
    SizeList:
      type: object
      properties:
        canblog:
          type: integer
          example: 0
        canprint:
          type: integer
          example: 1
        candownload:
          type: integer
          example: 1
        size:
          type: array
          items:
            $ref: '#/components/schemas/Size'
    Exif:
      type: object
      properties:
        tagspace:
          type: string
          example: EXIF
        tagspaceid:
          type: integer
          example: 0
        tag:
          type: string
          example: ISO
        label:
          type: string
          example: Original
        raw:
          type: object
          properties:
            _content:
              type: string
              example: '100'
    ExifList:
      type: object
      properties:
        photo:
          type: object
          properties:
            id:
              type: string
              example: '52345678901'
            secret:
              type: string
              example: abc1234def
            camera:
              type: string
              example: example
            exif:
              type: array
              items:
                $ref: '#/components/schemas/Exif'
    License:
      type: object
      properties:
        id:
          type: integer
          example: '52345678901'
        name:
          type: string
          example: Bay Area Photographers
        url:
          type: string
          format: uri
          example: https://www.flickr.com/galleries/12345678@N00/72157712345/
    LicenseList:
      type: object
      properties:
        license:
          type: array
          items:
            $ref: '#/components/schemas/License'
    Note:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        author:
          type: string
          example: 12345678@N00
        x:
          type: integer
          example: 320
        y:
          type: integer
          example: 240
        w:
          type: integer
          example: 100
        h:
          type: integer
          example: 100
        _content:
          type: string
          example: '100'
    Ticket:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        complete:
          type: integer
          example: 1
        photoid:
          type: string
          example: '52345678901'
        invalid:
          type: integer
          example: 0
    TicketList:
      type: object
      properties:
        ticket:
          type: array
          items:
            $ref: '#/components/schemas/Ticket'
    UploadResponse:
      type: object
      description: XML upload response containing `<photoid>` or `<ticketid>`.
      properties:
        stat:
          type: string
          example: ok
        photoid:
          type: string
          example: '52345678901'
        ticketid:
          type: string
          example: '1234567'
    Place:
      type: object
      properties:
        place_id:
          type: string
          example: kH8dLOBTUrHLjKxQqw
        woeid:
          type: string
          example: '2487956'
        latitude:
          type: number
          example: 37.7749
        longitude:
          type: number
          example: -122.4194
        place_url:
          type: string
          example: /United+States/California/San+Francisco
        place_type:
          type: string
          example: locality
        _content:
          type: string
          example: '100'
    PlaceList:
      type: object
      properties:
        place:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    PrivacyPreference:
      type: object
      properties:
        person:
          type: object
          properties:
            nsid:
              type: string
              example: 12345678@N00
            privacy:
              type: integer
              example: 1
    PushTopic:
      type: object
      properties:
        name:
          type: string
          example: Bay Area Photographers
    PushTopicList:
      type: object
      properties:
        topic:
          type: array
          items:
            $ref: '#/components/schemas/PushTopic'
    MethodList:
      type: object
      properties:
        methods:
          type: object
          properties:
            method:
              type: array
              items:
                type: object
                properties:
                  _content:
                    type: string
                    example: '100'
    MethodInfo:
      type: object
      properties:
        method:
          type: object
          properties:
            name:
              type: string
              example: Bay Area Photographers
            needslogin:
              type: integer
              example: 0
            needssigning:
              type: integer
              example: 1
            requiredperms:
              type: integer
              example: 0
            description:
              type: object
              properties:
                _content:
                  type: string
                  example: '100'
        arguments:
          type: object
          properties:
            argument:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: Bay Area Photographers
                  optional:
                    type: integer
                    example: 0
                  _content:
                    type: string
                    example: '100'
        errors:
          type: object
          properties:
            error:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: integer
                    example: 100
                  message:
                    type: string
                    example: Invalid API Key
                  _content:
                    type: string
                    example: '100'
    Stat:
      type: object
      properties:
        date:
          type: string
          example: '2026-04-30'
        views:
          type: integer
          example: 1842
        comments:
          type: integer
          example: 12
        favorites:
          type: integer
          example: 47
    StatList:
      type: object
      properties:
        stats:
          type: object
          properties:
            views:
              type: integer
              example: 1842
            comments:
              type: integer
              example: 12
            favorites:
              type: integer
              example: 47
        stat:
          type: array
          items:
            $ref: '#/components/schemas/Stat'
    Tag:
      type: object
      properties:
        _content:
          type: string
          example: '100'
        score:
          type: integer
          example: 87
        thm_data:
          type: object
          additionalProperties: true
          example: {}
    TagList:
      type: object
      properties:
        period:
          type: string
          example: week
        count:
          type: integer
          example: 200
        tag:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
    TagClusterList:
      type: object
      properties:
        source:
          type: string
          example: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
        total:
          type: integer
          example: 1183
        cluster:
          type: array
          items:
            type: object
            properties:
              total:
                type: integer
                example: 1183
              tag:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
    EchoResponse:
      type: object
      additionalProperties: true
    LoginInfo:
      type: object
      properties:
        user:
          type: object
          properties:
            id:
              type: string
              example: '52345678901'
            username:
              type: object
              properties:
                _content:
                  type: string
                  example: '100'
            path_alias:
              type: string
              example: shutterbug
    UserUrlLookup:
      type: object
      properties:
        user:
          type: object
          properties:
            id:
              type: string
              example: '52345678901'
            username:
              type: object
              properties:
                _content:
                  type: string
                  example: '100'
    OAuthCredentials:
      type: object
      properties:
        oauth:
          type: object
          properties:
            token:
              type: object
              properties:
                _content:
                  type: string
                  example: '100'
            perms:
              type: object
              properties:
                _content:
                  type: string
                  example: '100'
            user:
              type: object
              properties:
                nsid:
                  type: string
                  example: 12345678@N00
                username:
                  type: string
                  example: shutterbug
                fullname:
                  type: string
                  example: Jane Photographer
