openapi: 3.0.3
info:
  title: Flickr Activity Tags API
  description: 'The Flickr API exposes the photo, group, people, place, tag, gallery, and

    photoset capabilities that power flickr.com. Almost all flickr.com

    functionality is reachable through a single REST-like endpoint

    `https://api.flickr.com/services/rest` using a `method=flickr.{namespace}.{method}`

    query parameter and `format=json&nojsoncallback=1` for JSON output.


    This OpenAPI specification models a curated set of the most widely used

    methods across the Flickr API''s 250+ method namespaces (activity, auth,

    blogs, cameras, collections, commons, contacts, favorites, galleries,

    groups, groupsDiscuss, interestingness, machinetags, panda, people, photos,

    photos.geo, photos.licenses, photos.notes, photos.transform, photos.upload,

    photosets, places, prefs, profile, push, reflection, stats, tags, test, urls).


    Authentication is API key + OAuth 1.0a (HMAC-SHA1). Commercial use of the

    API requires prior permission from Flickr.

    '
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: Tags
  description: Tag clusters, hot lists, and tag-based lookups
paths:
  /rest/flickr.tags.getHotList:
    get:
      operationId: tagsGetHotList
      summary: List Currently Hot Tags
      description: Returns the popular tags for a given period.
      tags:
      - Tags
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: period
        in: query
        schema:
          type: string
          enum:
          - day
          - week
        example: week
      - name: count
        in: query
        schema:
          type: integer
        example: 200
      responses:
        '200':
          description: Hot tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagList'
              examples:
                TagsGetHotList200Example:
                  summary: Default tagsGetHotList 200 response
                  x-microcks-default: true
                  value:
                    period: week
                    count: 200
                    tag:
                    - _content: '100'
                      score: 87
                      thm_data: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.tags.getClusters:
    get:
      operationId: tagsGetClusters
      summary: Get Tag Clusters
      description: Returns the related "clusters" for a given tag.
      tags:
      - Tags
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: tag
        in: query
        required: true
        schema:
          type: string
        example: sunset
      responses:
        '200':
          description: Clusters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagClusterList'
              examples:
                TagsGetClusters200Example:
                  summary: Default tagsGetClusters 200 response
                  x-microcks-default: true
                  value:
                    source: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
                    total: 1183
                    cluster:
                    - total: 1183
                      tag:
                      - _content: '100'
                        score: 87
                        thm_data: {}
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TagClusterList:
      type: object
      properties:
        source:
          type: string
          example: https://live.staticflickr.com/65535/52345678901_abc1234def_o.jpg
        total:
          type: integer
          example: 1183
        cluster:
          type: array
          items:
            type: object
            properties:
              total:
                type: integer
                example: 1183
              tag:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
    Tag:
      type: object
      properties:
        _content:
          type: string
          example: '100'
        score:
          type: integer
          example: 87
        thm_data:
          type: object
          additionalProperties: true
          example: {}
    TagList:
      type: object
      properties:
        period:
          type: string
          example: week
        count:
          type: integer
          example: 200
        tag:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: 'Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model

        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:

        - Request token: https://www.flickr.com/services/oauth/request_token

        - Authorize:     https://www.flickr.com/services/oauth/authorize

        - Access token:  https://www.flickr.com/services/oauth/access_token

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
