openapi: 3.2.0
info:
  title: Flickr Activity Groups Discuss API
  description: 'The Flickr API exposes the photo, group, people, place, tag, gallery, and

    photoset capabilities that power flickr.com. Almost all flickr.com

    functionality is reachable through a single REST-like endpoint

    `https://api.flickr.com/services/rest` using a `method=flickr.{namespace}.{method}`

    query parameter and `format=json&nojsoncallback=1` for JSON output.


    This OpenAPI specification models a curated set of the most widely used

    methods across the Flickr API''s 250+ method namespaces (activity, auth,

    blogs, cameras, collections, commons, contacts, favorites, galleries,

    groups, groupsDiscuss, interestingness, machinetags, panda, people, photos,

    photos.geo, photos.licenses, photos.notes, photos.transform, photos.upload,

    photosets, places, prefs, profile, push, reflection, stats, tags, test, urls).


    Authentication is API key + OAuth 1.0a (HMAC-SHA1). Commercial use of the

    API requires prior permission from Flickr.

    '
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: Groups Discuss
  description: Group discussion topics and replies
paths:
  /rest/flickr.groups.discuss.topics.getList:
    get:
      operationId: groupsDiscussTopicsGetList
      summary: List Group Discussion Topics
      description: Returns discussion topics for a group.
      tags:
      - Groups Discuss
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: group_id
        in: query
        required: true
        schema:
          type: string
        example: 12345678@N00
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Topics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicList'
              examples:
                GroupsDiscussTopicsGetList200Example:
                  summary: Default groupsDiscussTopicsGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    topic:
                    - id: '52345678901'
                      subject: Tips for sunset photography
                      author: 12345678@N00
                      author_name: shutterbug
                      datecreate: '1715000000'
                      count_replies: 7
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.groups.discuss.replies.getList:
    get:
      operationId: groupsDiscussRepliesGetList
      summary: List Replies For A Discussion Topic
      description: Returns the replies for a discussion topic.
      tags:
      - Groups Discuss
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: topic_id
        in: query
        required: true
        schema:
          type: string
        example: '72157712345'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Replies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicReplyList'
              examples:
                GroupsDiscussRepliesGetList200Example:
                  summary: Default groupsDiscussRepliesGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    reply:
                    - id: '52345678901'
                      author: 12345678@N00
                      message:
                        _content: '100'
                      datecreate: '1715000000'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 100
        maximum: 500
      example: 100
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      example: 1
  schemas:
    TopicReplyList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        reply:
          type: array
          items:
            $ref: '#/components/schemas/TopicReply'
    TopicList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        topic:
          type: array
          items:
            $ref: '#/components/schemas/Topic'
    Topic:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        subject:
          type: string
          example: Tips for sunset photography
        author:
          type: string
          example: 12345678@N00
        author_name:
          type: string
          example: shutterbug
        datecreate:
          type: string
          example: '1715000000'
        count_replies:
          type: integer
          example: 7
    TopicReply:
      type: object
      properties:
        id:
          type: string
          example: '52345678901'
        author:
          type: string
          example: 12345678@N00
        message:
          type: object
          properties:
            _content:
              type: string
              example: '100'
        datecreate:
          type: string
          example: '1715000000'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: 'Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model

        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:

        - Request token: https://www.flickr.com/services/oauth/request_token

        - Authorize:     https://www.flickr.com/services/oauth/authorize

        - Access token:  https://www.flickr.com/services/oauth/access_token

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
