openapi: 3.2.0
info:
  title: Flickr Commons API
  description: 'The Flickr API exposes the photo, group, people, place, tag, gallery, and

    photoset capabilities that power flickr.com.'
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: Commons
  description: Flickr Commons institutions
paths:
  /rest/flickr.commons.getInstitutions:
    get:
      operationId: commonsGetInstitutions
      summary: List Flickr Commons Institutions
      description: Returns the list of institutions participating in The Commons.
      tags:
      - Commons
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: Institutions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionList'
              examples:
                CommonsGetInstitutions200Example:
                  summary: Default commonsGetInstitutions 200 response
                  x-microcks-default: true
                  value:
                    institution:
                    - nsid: 12345678@N00
                      name: Bay Area Photographers
                      date_launch: '1232409600'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
  schemas:
    Institution:
      type: object
      properties:
        nsid:
          type: string
          example: 12345678@N00
        name:
          type: string
          example: Bay Area Photographers
        date_launch:
          type: string
          example: '1232409600'
    InstitutionList:
      type: object
      properties:
        institution:
          type: array
          items:
            $ref: '#/components/schemas/Institution'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: 'Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model

        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:

        - Request token: https://www.flickr.com/services/oauth/request_token

        - Authorize:     https://www.flickr.com/services/oauth/authorize

        - Access token:  https://www.flickr.com/services/oauth/access_token

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
