openapi: 3.0.3
info:
  title: Flickr Activity Contacts API
  description: 'The Flickr API exposes the photo, group, people, place, tag, gallery, and

    photoset capabilities that power flickr.com. Almost all flickr.com

    functionality is reachable through a single REST-like endpoint

    `https://api.flickr.com/services/rest` using a `method=flickr.{namespace}.{method}`

    query parameter and `format=json&nojsoncallback=1` for JSON output.


    This OpenAPI specification models a curated set of the most widely used

    methods across the Flickr API''s 250+ method namespaces (activity, auth,

    blogs, cameras, collections, commons, contacts, favorites, galleries,

    groups, groupsDiscuss, interestingness, machinetags, panda, people, photos,

    photos.geo, photos.licenses, photos.notes, photos.transform, photos.upload,

    photosets, places, prefs, profile, push, reflection, stats, tags, test, urls).


    Authentication is API key + OAuth 1.0a (HMAC-SHA1). Commercial use of the

    API requires prior permission from Flickr.

    '
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: Contacts
  description: Calling user's contacts and recent contact activity
paths:
  /rest/flickr.contacts.getList:
    get:
      operationId: contactsGetList
      summary: Get Contacts For The Calling User
      description: Returns the contact list for the authenticated user.
      tags:
      - Contacts
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - name: filter
        in: query
        description: 'One of: friends, family, both, neither.'
        schema:
          type: string
          enum:
          - friends
          - family
          - both
          - neither
        example: friends
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Contact list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactList'
              examples:
                ContactsGetList200Example:
                  summary: Default contactsGetList 200 response
                  x-microcks-default: true
                  value:
                    page: 1
                    pages: 12
                    total: 1183
                    contact:
                    - nsid: 12345678@N00
                      username: shutterbug
                      iconserver: '7402'
                      realname: Jane Photographer
                      friend: 1
                      family: 0
                      ignored: 0
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    PerPage:
      name: per_page
      in: query
      schema:
        type: integer
        default: 100
        maximum: 500
      example: 100
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      example: 1
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
  schemas:
    ContactList:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pages:
          type: integer
          example: 12
        total:
          type: integer
          example: 1183
        contact:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    Contact:
      type: object
      properties:
        nsid:
          type: string
          example: 12345678@N00
        username:
          type: string
          example: shutterbug
        iconserver:
          type: string
          example: '7402'
        realname:
          type: string
          example: Jane Photographer
        friend:
          type: integer
          example: 1
        family:
          type: integer
          example: 0
        ignored:
          type: integer
          example: 0
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: 'Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model

        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:

        - Request token: https://www.flickr.com/services/oauth/request_token

        - Authorize:     https://www.flickr.com/services/oauth/authorize

        - Access token:  https://www.flickr.com/services/oauth/access_token

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
