openapi: 3.2.0
info:
  title: Flickr Photos Licenses API
  description: 'The Flickr API exposes the photo, group, people, place, tag, gallery, and

    photoset capabilities that power flickr.com.'
  version: 1.0.0
  termsOfService: https://www.flickr.com/services/api/tos/
  contact:
    name: Flickr API Support
    url: https://www.flickr.com/help/api/
  license:
    name: Flickr API Terms of Use
    url: https://www.flickr.com/services/api/tos/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://api.flickr.com/services
  description: Flickr REST API
- url: https://up.flickr.com/services
  description: Flickr Upload endpoint
security:
- ApiKeyAuth: []
- OAuth1:
  - read
  - write
  - delete
tags:
- name: Photos Licenses
  description: License catalog and per-photo license assignment
paths:
  /rest/flickr.photos.licenses.getInfo:
    get:
      operationId: photosLicensesGetInfo
      summary: List Photo Licenses
      description: Returns the list of available photo licenses.
      tags:
      - Photos Licenses
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      responses:
        '200':
          description: License catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseList'
              examples:
                PhotosLicensesGetInfo200Example:
                  summary: Default photosLicensesGetInfo 200 response
                  x-microcks-default: true
                  value:
                    license:
                    - id: '52345678901'
                      name: Bay Area Photographers
                      url: https://www.flickr.com/galleries/12345678@N00/72157712345/
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /rest/flickr.photos.licenses.setLicense:
    post:
      operationId: photosLicensesSetLicense
      summary: Set Photo License
      description: Sets the license for a photo.
      tags:
      - Photos Licenses
      parameters:
      - $ref: '#/components/parameters/ApiKey'
      - $ref: '#/components/parameters/PhotoId'
      - name: license_id
        in: query
        required: true
        schema:
          type: integer
        example: 4
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                PhotosLicensesSetLicense200Example:
                  summary: Default photosLicensesSetLicense 200 response
                  x-microcks-default: true
                  value:
                    stat: ok
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      required: true
      description: Application API key.
      schema:
        type: string
      example: ab1234567890cdef1234567890abcd12
    PhotoId:
      name: photo_id
      in: query
      required: true
      schema:
        type: string
      example: '52345678901'
  schemas:
    LicenseList:
      type: object
      properties:
        license:
          type: array
          items:
            $ref: '#/components/schemas/License'
    License:
      type: object
      properties:
        id:
          type: integer
          example: '52345678901'
        name:
          type: string
          example: Bay Area Photographers
        url:
          type: string
          format: uri
          example: https://www.flickr.com/galleries/12345678@N00/72157712345/
    SuccessResponse:
      type: object
      properties:
        stat:
          type: string
          example: ok
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: Application API key for non-authenticated and read-only public requests.
    OAuth1:
      type: oauth2
      description: 'Flickr uses OAuth 1.0a (HMAC-SHA1). The OpenAPI 3 schema cannot model

        OAuth 1.0a directly, so this entry approximates the flow. Token URLs:

        - Request token: https://www.flickr.com/services/oauth/request_token

        - Authorize:     https://www.flickr.com/services/oauth/authorize

        - Access token:  https://www.flickr.com/services/oauth/access_token

        '
      flows:
        authorizationCode:
          authorizationUrl: https://www.flickr.com/services/oauth/authorize
          tokenUrl: https://www.flickr.com/services/oauth/access_token
          scopes:
            read: Read access to private content owned by the user
            write: Modify content owned by the user
            delete: Delete content owned by the user
